.body3{
  position:absolute;
  top: 1500px;
  background-color: #ccf2f4;
  width:100%;

}
.flex-container6{
  position:relative;
  left:200px
}
.para{
  position:relative;
  left: 200px;
  font-size: 20px;
  font-style: oblique;
  line-height:35px;
  text-align: left
}
.flex-container7  img{
  width:26%;
  height:140%;
  position: absolute;
  left: 800px;
  bottom: 50px;
}
.btn{
  position:relative;
  left:200px;
  border-radius: 30px;
  width:200px;
  height:30%;
  color: blue
}
