
  .flex-container1 img{
    width:100%;
    height:50%;
    position:relative
  }
  .flex-container1 {
      height: 1300px
  }

  .yyy{
    position:absolute;
    left: 0px;
    top: 80px;
    right:0px;

  }
