
  .flex-container2 img{
    width:30%;
    height:10%;
    position: relative;
  }

.flex-container2{
  position:absolute;
  left: 200px;
  top: 550px;
}

.flex-container3 img{
  width:50%;
  height:50%;
  position: relative;
}

.flex-container3{
position:absolute;
left: 900px;
top: 900px;
height:800px
}
.flex-container4 p{
position:absolute;
left: 200px;
top: 1300px;
color: black;
font-style: italic;
font-size: 22px;
line-height:35px;
}
